---
layout: default
title: About
page-title: aboutMe
home-title: Who am I?
description:
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list">
        <li class="fadeInUp animated">
            {% if site.author %}
                <div class="portraits"><img src="{{ site.portraits }}" alt="portrait image"></div>
                <span id="yourname">{{ site.name }}</span>
                <span id="yourbio">{{ site.bio }}</span>
                {% if site.about %}
                    <span id="aboutyou">{{ site.aboutyou }}</span>
                {% endif %}
            {% endif %}
            {% if site.SNS %}
                {% for sns-icon in site.SNS-icon %}
                    {% if sns-icon[1] == nil %}
                        {% continue %}
                    {% else %}
                        <a href="{{ sns-icon[1] }}" title="{{ sns-icon[0] }}">
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#icon-{{ sns-icon[0] }}"></use>
                            </svg>
                        </a>
                    {% endif %}
                    {% endfor%}
                {% endif %}
            </li>
        </li>
        <li class="fadeInUp animated">
            {% if site.tags.size>0 %}
                {% for tag in site.tags %}
                    <a class="tag" href="tags.html#{{ tag[0] }}">{{ tag[0]}}</a>
                {% endfor %}
            {% endif %}
        </li>
        {% if site.github-activity %}
            <li class="fadeInUp animated">
                <div id="feed"></div>
            </li>
        {% endif %}
    </ul>
</main>
{% include footer.html %}
