--- 
layout: default 
title: Reviews 
page-title: Software Reviews 
home-title: Fully tested little known software below. 
description: 
--- 

{% include header.html %} 
{% include boot.html %}
<main>
    {% include title.html %}
    <!-- Start of content-->
    <article class="page">

        <section class="introduction-category">
            <h2>Introduction</h2>
            <p>This section is about all the great freeware apps I’ve run across in my endless search for free programs for the current project I’m working on (or just because needed something specific). Freewares are apps that are completely
                FREE… full software.</p>
            <p>It’s broken up to categories. I have used all these programs at some point or still do. If you are looking for more freewares, head on over to <a href="http://www.FileHippo.com">FileHippo</a>. They hand test every program and don’t
                host the app if they contain spyware or malware. This List is always updating and will never be complete…because of that, it’s a never ending battle to find freewares out there that I enjoy or think they were very useful enough
                to be on this list.</p>
        </section>

        <section class="antimalware-category">
            <h2>
                <a id="Anti-Malware">Anti-Malware</a>
            </h2>
            <ul>
                <li><a href="https://www.malwarebytes.org/antimalware/" class="strong" target="_blank" rel="noopener">Malwarebytes: Anti-Malware</a> – New to my bag of goodies is this wonderful program. Surprising enough, it detects more things
                    than all the other apps I have mentioned. I accidentally stumbled upon it…but its small download size, quick install, fast scan speed with astounding detection and removal, makes this my new favorite anti-malware app. For
                    the novice user.</li>
            
            
            
                <li><a href="http://www.adlice.com/software/roguekiller/" class="strong" target="_blank" rel="noopener">RogueKiller</a> – A fairly new one to my toolbox is RogueKiller. Portable requiring no install, scan times &nbsp;and detection rates on par with malwarebytes. I keep this
                    around for secondary checks which has always found something lingering from other scanners.</li>
            
            
            
                <li><a href="https://superantispyware.com/" class="strong" target="_blank" rel="noopener">Super Antispyware</a> – Another good choice if you need a free anti-malware program. Solid&nbsp;detection and removal rates; even finds leftovers by other anti-malware programs. One thing
                    I do really like about this program is before you finish a scan it lets you uninstall known PUPs if they were installed via a windows installer, so for instance if bundled with another program.</li>
            
            
            
                <li><a href="https://www.safer-networking.org/dl/" class="strong" target="_blank" rel="noopener">Spybot: Search &amp; Destroy – Free Edition</a> – One of my favorite anti-spyware apps. Scans are a little slow but the program
                    also has many other features like immunization (preventing installation of spyware in the first place), startup editing, hosts file editor, BHO, and Active-X remover and more. Also has a registry cleaner that checks the
                    registry for commonly missed invalid registry keys that get passed by most registry cleaners.</li>
            
            
            
                <li><a href="https://www.brightfort.com/spywareblaster.html" class="strong" target="_blank" rel="noopener">SpywareBlaster</a> – This little baby is used to prevent the installation of most spyware BHO’s and Active-X apps before
                    they get a hold of your computer and install worse malware. Also blocks bad sites that have been known to install these nasty apps for both Firefox and IE. This program doesn’t have to be active to be working…once updated,
                    a user just has to enable protection and then they are protected.</li>
            
            
            
                <li><del>Lavasoft: Ad-Aware Free</del>&nbsp;(No longer available) – Another long time remover of malware is this great app. Its not as feature packed as Spybot but where it lacks in that field makes up in speed,
                    detection, and a more modern up-to-date look. It gives you great descriptions of anything it detects and helps you through the removal process with ease.</li>
            
            
            
                <li><a href="https://github.com/dragokas/hijackthis/" class="strong" target="_blank" rel="noopener">HiJackThis&nbsp;Fork</a> (<a href="https://sourceforge.net/projects/hjt/">original no longer maintained</a>) – A general homepage hijackers detector and remover.
                    It is continually updated to detect and remove new hijacks. It does not target specific programs/URLs, just the methods used by hijackers to force you onto their sites. As a result, false positives are imminent, and unless
                    you are sure what you’re doing, you should always consult with knowledgeable folks before deleting anything. For novice peeps: Once you open it you simple select “create and save log file” and copy and paste or browse for
                    file and put in on <a href="http://www.hijackthis.de/">this</a> website. It will analyze it. I don’t know how safe this website is…just a warning. (But people have referenced to it before on several forums I visit.) There
                    are also tons of forums that can analyze the logs for you for free. &gt;&gt;Recommend for advanced users only.</li>
            </ul>
        </section>

        <section class="security-category">
            <h2>
                <a id="Security">Security</a>
            </h2>
            <ul>
                <li><a href="https://veracrypt.codeplex.com/" class="strong" target="_blank" rel="noopener">VeraCrypt</a> (replacement for supposedly insecure, bug riddled TrueCrypt) – Every wanted to encrypt data so that no one could find it?
                    Maybe even encrypt a whole hard drive so no one could access it without a password. What about encrypting your windows partition so that you have to enter a password before even being able to boot up into windows? Well
                    now you can with this program. You can, not only make container files to store your personal information, encrypt whole hard drives and partitions as well as your windows partition so no one could access your computers
                    hard drive without the proper password. With several encryption methods available you can choose the fastest for your computer with its benchmark tests so you can have seamless transfers of data to the encrypted storage
                    enhancing its on-the-fly encryption. There is even option for a hidden container inside of a container…if you had to give up your password for whatever reason they would only see whats in the container and not whats in
                    the hidden volume inside of the original container file. Now has full support for TrueCrypt container files.</li>
            
            
            
                <li><a href="https://keepass.info/" class="strong" target="_blank" rel="noopener">KeePass</a> – Do you have too many passwords to remember or maybe you are forgetful and use the same password and name for all of your logins thus
                    making the password(s) useless. Wouldn’t it be great to only have to remember 1 password that remembers all your other passwords and other information? You can now do this… using just 1 password you open up your database
                    of passwords and login information and adding plug-ins will enable you to to also double click links you have stored and it will auto load those websites and enter in the information into the correct fields automatically.
                    The best part of all is its key logger proof, so if you haven’t yet downloaded any of my anti-malware programs i suggested ^ there, then you will still be safe from logging eyes. Another wonderful feature is you can easily
                    have it auto-generate passwords for each new entry you add and you will get a strong password that you now can use on the website thus making it harder to crack and you don’t have to remember the password!</li>
            </ul>
        </section>

        <section class="system-category">
            <h2>
                <a id="System">System</a>
            </h2>
            <ul>
                <li><a href="https://www.ccleaner.com/" class="strong" target="_blank" rel="noopener">CCleaner</a> – As your computer gets older and older since the installation of windows, your system tends to fill up with cached programs in
                    temps files as well as Internet cache. This amazing app can not only remove this space wasting junk, it can also tell you how much space will be saved before removing it. It also removes common programs cache and temp files
                    created by them and can re-arrange your start menu so its in alphabetic order. There are tons of settings to remove windows program cache, old system restore points, windows updates uninstall files, log files, and more.
                    You can even add custom areas (files or folders) to clean making it very versatile to every users needs.</li>
            
            
            
                <li><a href="http://www.alexnolan.net/software/sysspec.htm" class="strong" target="_blank" rel="noopener">SysSpec</a> – A utility to produce a specification of your system’s hardware and software. With System Spec you can see,
                    save and print a complete spec of your PC. This standalone, system information utility can also perform various windows functions. Additional advanced info includes CPU, drives, applications, display, memory, networking,
                    Internet, CD / DVD drives and more. It’s a standalone files which doesn’t require installation…making it portable.</li>
            
            
            
                <li><a href="https://www.techpowerup.com/gpuz/" class="strong" target="_blank" rel="noopener">GPU-Z</a> – A simple standalone program that tells you all the specs of your graphics card such as memory, clock speed, bandwidth,
                    etc. Supports multiple graphics cards.</li>
            
            
            
                <li><a href="https://www.guru3d.com/index.php?page=rivatuner" class="strong" target="_blank" rel="noopener">RivaTuner</a> – Tweaking and over-clocking your GPU has never been so accessible without installing larger programs.
                    Supports a wide range of GPU’s as well as the latest. Constantly updated to keep up with new hardware, and with abilities to increase your GPU’s fan speed to the max to keep your GPU pleasantly chilled, makes it a must
                    for the gamer of today.</li>
            
            
            
                <li><a href="http://www.almico.com/speedfan.php" class="strong" target="_blank" rel="noopener">SpeedFan</a> – Temp and fan speed monitor with options to increase and decrease speeds depending on the temp of the system as well
                    as some minor cpu over-clocking abilities and S.M.A.R.T. HD information.</li>
            
            
            
                <li><a href="http://processhacker.sourceforge.net/" class="strong" target="_blank" rel="noopener">Process Hacker</a> – A task manager replacement with additional features including hiding signed Microsoft services/application,
                    injecting and unloading DLL’s, ability to terminating processes that bypasses security software and root kits, and less nag that the current one.</li>
            
            
            
                <li><a href="https://technet.microsoft.com/en-us/sysinternals/bb963902.aspx" class="strong" target="_blank" rel="noopener">AutoRuns</a> – Would you like to know everything that loads on your computer…and much, much more? Opening
                    this program scans your computer for just about every file that gets executed during boot including context menu dll’s and sys files. If you are an advanced users you can easily spot problems and remove them. For the non-expert
                    user you can right-click on a file and have it googled so you can learn more about the file. Tons of options and little goodies packed in to help you out. &gt;&gt;Recommended for advanced users.</li>
            
            
            
                <li><a href="https://www.malwarebytes.org/startuplite.php" class="strong" target="_blank" rel="noopener">StartupLite</a> – Using a database of know programs, shows you what programs that don’t require to start up for your computer
                    to run correctly essentially speeding up your boot time. With options to disable or remove the entries you can easily re-enable them if you decide they are more useful on then off.</li>
            
            
            
                <li><a href="https://www.nirsoft.net/utils/ipnetinfo.html" class="strong" target="_blank" rel="noopener">IPNetInfo</a> – Complete WHOIS information of IP addresses (owners, IP ranges, etc) with option to converting domain names
                    into IP’s.</li>
            </ul>
        </section>

        <section class="other-category">
            <h2>
                <a id="Other">Other</a>
            </h2>
            <ul>
                <li><a href="http://www.LibreOffice.org/" class="strong" target="_blank" rel="noopener">LibreOffice.org</a> – Maybe you just don’t like paying 250 for office when you can get compatible and comparable features for free? LibreOffice.org
                    is a suite of apps that have the same functionality as MS office apps. They are basically a free version of the same apps. They are completely compatible with all MS Office documents (with correct program). If you don’t
                    want to fork over 250 bucks or don’t really need MS office specifically…would give LibreOffice.org a try.</li>
            
            
            
                <li><a href="http://www.rejetto.com/hfs/" class="strong" target="_blank" rel="noopener">Http File Server (HFS)</a> – You can use HFS to send and receive files. It’s different from classic file sharing because it uses web technology
                    to be more compatible with today’s Internet. It also differs from classic web servers because it’s very easy to use and runs “right out-of-the box”. Access your remote files, over the network. It has been successfully tested
                    with Wine under Linux. It has a customizable web page and per user access. Its very small as well.</li>
            
            
            
                <li><a href="http://www.getpaint.net/index.html" class="strong" target="_blank" rel="noopener">Paint.net</a> – Would you like an alternative to windows paint on equal grounds as adobe photoshop but don’t want to pay the hefty
                    price tag? This is your solution. Can do almost everything that photoshop can with an easier learning curve and without the bloat. With a plethora of addons to enhance your creative side to choose from, you are bound to
                    find what you are looking for. If you are having issues, want to make an suggestion, request for a addon, or with all the tutorials they have… learn how to do something you didn’t know how to do, you can always head on
                    over to their forums for great support.</li>
            
            
            
                <li><a href="http://getgreenshot.org/" class="strong" target="_blank" rel="noopener">GreenShot</a> – Do you take a lot of screen shots (print screen key)? Hate having to paste into your favorite paint program then save it? This
                    incredibly small program is a huge upgrade to “prt scr” key. By setting the default file type and location you can easily bypass the “paste and save”. But the most amazing feature about this app is by using binded keys,
                    you can select the whole screen, a window, or a defined space to capture, effectively eliminating the need to “cut to size” when using print screen.</li>
            
            
            
                <li><a href="http://www.poppeeper.com/" class="strong" target="_blank" rel="noopener">PopPeeper</a> – Ever take the time to remember and type in your password just to log into your email and find there is no mail? PopPeeper is
                    an small email client which can log into all your emails and check your mail for you. It supports all the major companies (yahoo, windows live, etc) and supports POP3, IMAP (with IDLE support), as well. You can also password
                    protect the client so that all emails cant fall into the wrong hands..</li>
            
            
            
                <li><a href="http://www.imgburn.com/" class="strong" target="_blank" rel="noopener">ImgBurn</a> – Great alternative to the bloat-ware of nero. Much smaller and with somewhat same features. Used to burn all types of media to dvd/cd
                    and creating backups of disks.</li>
            
            
            
                <li><a href="https://handbrake.fr/" class="strong" target="_blank" rel="noopener">HandBreak</a> – Video transcoder with tons of features and formats to choose from as well as codecs bundled with. Even supports the newer x265,
                    a web optimized format. Can be used to backup dvd’s to your hard drive.</li>
            
            
            
                <li><a href="https://www.notepad-plus-plus.org/" class="strong" target="_blank" rel="noopener">NotePad++</a> – Programmers editor. You can use it as an upgrade to notepad or for the programmer in mind, by downloading more code
                    highlighters, you allow the program to color the text of the code you are editing. Making a must have for all those coders out there.</li>
            
            
            
                <li><a href="http://www.faststone.org/FSViewerDetail.htm" class="strong" target="_blank" rel="noopener">FastStone Image Viewer</a> – An upgrade from windows picture viewer. With lossless picture size conversions and wonderful
                    picture optimizations, you cant go wrong with updating to this free program. And endless amount of options that can help you do many things that paint.net can do by default but its main application is not a picture editing
                    program.
                </li>
            </ul>
        </section>

        <section class="linux-category">
            <h2>
                <a id="Linux">Linux Operating Systems</a>
            </h2>
            <p>Before you freak and say Linux is only for geeks… let me ask you this: Do you know how to type? Do you know how to use google? Do you know how to use windows start menu? If you answered yes to all of these questions then Linux
                could be for you. Linux has come a far way from the stone ages of 90’s. There are new flavors if Linux that look and act just like windows. There are even “Live” cd’s that let you try the Linux flavor you have chosen without
                having to install Linux! If you don’t like it, just restart and take the cd out of your drive and Linux will be gone. Because of the vast amount of communities dedicated to helping newbies out, if you ever run into a problem
                you can always google your issue(s); 9 times out of 10, you will find your answer. There are millions of tutorials explaining every aspect of Linux to you if you have the time or want to know.Will my windows programs run on
                Linux?? Most of the common programs that are for windows have a Linux version that has the same basic functionality as its windows counterpart. Have a program that only runs on windows or there is no Linux copy and worried
                that wont run on this new space age OS? Have no fear WINE is here! WINE is an app that allows you to run hundreds of windows games and apps just like you were running them from windows. You can check out the <a href="https://www.winehq.org/">WINE</a>                            website for more information on compatibility.</p>
            <ul>
                <li><a href="https://www.ubuntu.com/" class="strong" target="_blank" rel="noopener">Ubuntu</a>&nbsp;– One of the most popular Linux Distro’s out there. Has everything most users need out of the box. “Just Works”.</li>
                <li><a href="https://linuxmint.com/" class="strong" target="_blank" rel="noopener">Linux Mint</a>&nbsp;– At the time of this writing, most popular Linux Distro. Most complete and least bloated Linux OS out there in my opinion. Based on Ubuntu.</li>
                <li><a href="https://elementary.io/" class="strong" target="_blank" rel="noopener">elementaryOS</a>&nbsp;– Touted as “a fast and open-source replacement for Windows and macOS”. Looks and operates similar to a Mac. Very fast and clean design.</li>
                <li><a href="https://peppermintos.com/" class="strong" target="_blank" rel="noopener">Peppermint</a>&nbsp;– “Less is more” is their moto, and thanks to this, is my favorite Linux Distro to date. Comes preinstalled with all the goodies you will ever needed and nothing
                    more.
                </li>
            </ul>
        </section>
    </article>
    <!-- End of content-->
</main>
{% include footer.html %}